<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/blog1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mountain Trips</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/blog2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Beach Trips</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/blog3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Urban Trips</h5>
    </div>
  </div>
</div>